.grid{
  display: block;
  width: 85%;
  float: left;
  padding: 0.5vw;
  overflow: hidden;
}
.grid:hover .img{
    transform: scale(0.8);
}
.container{
    width: 95%;
}
.side{
    width: 20%;
    float: left;
    position: fixed;
    right: 0%;
    top: 8vw;
    background: gray;
}
.img{
  display: block;
  float: left;
  height: 26vw;

  background: #2C2F33;
  margin: 10px;
  transition: transform 0.5s, filter 0.5s;
}
img{
  height: 100%;
}
body{
  background: #23272A;
  color: #fff;
}

a{
  color: white;
  width: 100%;
}
.img:hover .add{
  display: block;
  color: white;
  background: #23272A;
  border-bottom-style: solid;
  border-color: #2C2F33;
  border-style: solid;
  transition: border-bottom-style 1s;
}
.img:hover .add:hover{
  border-bottom-color: white;

  transition: border-bottom-color 1s;
}
.img .opt{
  display: block;
  font-size: 0vw;
  padding: 0px;
  float: right;
  transition: padding 0.5s, font-size 0.5s;
}

.img:hover .opt{
  display: block;
  font-size: 0vw;
  padding: 10px;
  float: right;
  transition: padding 0.5s, font-size 0.5s;
}
.img:hover .opt{
  width: auto;
  font-size: 2.2vw;
}
.img:hover{
  transform: scale(1.25);
}
.blur{
  filter: blur(0.1vw);

}

.rightlink{
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 8vw;
  height: 8vw;
  line-height: 8vw;
  text-align: center;
  background: #E4405F;
  background-image: url(instagram.svg);
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: 2% 2%;
  transition: transform 0.5s;
}
.rightlink:hover{
  transform: scale(1.05);
}
.download{
  color: white;
  width: 100%;
  text-decoration: underline;
  background:none;
  border:none;

}
